.App {
  
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  padding: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #EEE;
}

.body {
  padding: 25px;
  flex: 1;
}

#typer {
  font-family:monospace;
    -webkit-tap-highlight-color:transparent;
    outline-style: none;
    display: flex;
    flex-wrap: wrap;
}

footer {
  padding: 25px;
  border-top: 1px solid #EEE;
  font-size: .8em;
}